.env
*.env
.credentials
res
coverage
build
update.sh
/node_modules/
/dist/
*.swp
/public/images/*
/public/videos/*
/public/test/*
.DS_Store
/cache/
/artifacts/
/typechain/
*.patch
script.ts
.idea
*.csv
package-lock.json
yarn.lock
src/database/script.test.ts
*.log
*.txt
pgdata